######################################
# Required packages to run DynaPhoPY #
######################################

# These packages are mandatory to run the software
# phonopy>=1.9.6
numpy>=1.8.2
scipy

# These packages are optional but recommended
# matplotlib
# h5py

# These packages are optional and have some special requirements
# To use pyfftw FFTW has to be installed in your system (check pyfft homepage for more information)
# pyfftw

# To use cuda functions
# git+https://github.com/abelcarreras/cuda_functions.git