######################################
# Required packages to run DynaPhoPY #
######################################

# These packages are mandatory to run the software
phonopy>=1.9.6
numpy>=1.8.2
scipy

# These packages are optional but recommended
# h5py may need libhdf5-serial-dev package installed on your system
matplotlib
h5py

# These packages are optional (uncomment to install)
# To use pyfftw FFTW has to be installed on your system (check pyfft homepage for more information)
# pyfftw

# CUDA acceleration
# git+https://github.com/abelcarreras/cuda_functions.git